---
# yaml-language-server: $schema=https://json.schemastore.org/helmfile

helmDefaults:
  wait: true
  waitForJobs: true
  timeout: 900
  force: true
  atomic: true

repositories:
  - name: cilium
    url: https://helm.cilium.io
  - name: argo
    url: https://argoproj.github.io/argo-helm

releases:
  - name: cilium
    namespace: cilium
    createNamespace: false
    chart: cilium/cilium
    version: 1.18.5
    values:
      - ../apps/infrastructure/privileged/cilium/values.yaml

  - name: argo-cd
    namespace: argocd
    createNamespace: true
    chart: argo/argo-cd
    version: 9.2.0
    values:
      - ../apps/argocd/values.yaml
    secrets:
      - age-secret.sops.yaml
    needs:
      - cilium/cilium
