controllers:
  calibre-web:
    containers:
      app:
        image:
          repository: ghcr.io/bjw-s-labs/calibre-web
          tag: 0.6.25@sha256:2eadd93c5b5abba7347dd7a005070535f1b9d793534bc4fd93e2e2a90fdb10f9
        env:
          CACHE_DIR: /cache
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
        resources:
          requests:
            cpu: 5m
            memory: 470M
          limits:
            memory: 470M
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"
service:
  app:
    controller: calibre-web
    ipFamilyPolicy: PreferDualStack
    ports:
      http:
        port: 8083
route:
  app:
    hostnames: ["books.devpi.de"]
    parentRefs:
      - name: web-internal
        namespace: cilium
        sectionName: https
persistence:
  cache:
    type: emptyDir
    globalMounts:
      - path: /cache
  config:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    storageClass: longhorn-backup
  media:
    existingClaim: media
    globalMounts:
      - path: /media/Books
        subPath: Books
