crds:
  enabled: true
  upgradeJob:
    enabled: true
    forceConflicts: true
    image:
      kubectl:
        tag: "1.35.0"
cleanPrometheusOperatorObjectNames: true
alertmanager:
  route:
    main:
      enabled: true
      hostnames:
        - am.devpi.de
      parentRefs:
        - name: web-internal
          namespace: cilium
          sectionName: https
  alertmanagerSpec:
    alertmanagerConfiguration:
      name: alertmanager
      global:
        resolveTimeout: 5m
    externalUrl: https://am.devpi.de
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn-backup
          resources:
            requests:
              storage: 1Gi
kubeEtcd:
  service:
    selector:
      component: kube-apiserver # etcd runs on control plane nodes
kubeProxy:
  enabled: false
prometheus:
  route:
    main:
      enabled: true
      hostnames:
        - prometheus.devpi.de
      parentRefs:
        - name: web-internal
          namespace: cilium
          sectionName: https
  prometheusSpec:
    ruleSelectorNilUsesHelmValues: false
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    probeSelectorNilUsesHelmValues: false
    scrapeConfigSelectorNilUsesHelmValues: false
    externalUrl: https://prometheus.devpi.de
    retention: 14d
    retentionSize: 50GB
    resources:
      requests:
        cpu: 100m
      limits:
        memory: 2Gi
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: longhorn-backup
          resources:
            requests:
              storage: 50Gi
prometheus-node-exporter:
  fullnameOverride: node-exporter
kube-state-metrics:
  fullnameOverride: kube-state-metrics
grafana:
  enabled: false
  forceDeployDashboards: true
