---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

controllers:
  radicale:
    containers:
      main:
        image:
          repository: ghcr.io/kozea/radicale
          tag: 3.5.10@sha256:2524d96a33f161afca7107a8e0e3e2ed9e4f986714287ace9e972b01c147aac0
        resources:
          limits:
            memory: 128Mi
          requests:
            cpu: 10m
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities:
            { drop: ["ALL"], add: ["SETUID", "SETGID", "CHOWN", "KILL"] }

defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    controller: radicale
    ports:
      http:
        port: &port 5232

persistence:
  data:
    existingClaim: radicale-data-a
    globalMounts:
      - path: /var/lib/radicale
  config-file:
    type: configMap
    name: radicale-configmap
    globalMounts:
      - path: /etc/radicale/config
        subPath: config
        readOnly: true

route:
  app:
    hostnames:
      - calendar.devpi.de
      - contacts.devpi.de
    parentRefs:
      - name: web-internal
        namespace: cilium
        sectionName: https
    rules:
      - backendRefs:
          - name: radicale
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
