---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/common-4.2.0/charts/library/common/values.schema.json

controllers:
  tandoor:
    containers:
      app:
        image:
          repository: ghcr.io/tandoorrecipes/recipes
          tag: 2.5.3@sha256:7ce6534c9ab0e471fd0f08add67e871b9173fb580c2f86294c3ead025603a3d7
        env:
          # Configure application
          SECRET_KEY:
            valueFrom:
              secretKeyRef:
                name: tandoor-secret
                key: TANDOOR_SECRET_KEY
          # Configure postgres integration
          DB_ENGINE: django.db.backends.postgresql
          POSTGRES_HOST: tandoor-postgres.tandoor.svc.cluster.local
          POSTGRES_PORT: 5432
          POSTGRES_USER: tandoor
          POSTGRES_DB: recipes
          POSTGRES_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: tandoor-secret
                key: TANDOOR_POSTGRES_PASSWORD
          DEBUG: "0"
          ALLOWED_HOSTS: "*"
          GUNICORN_MEDIA: "0"
        probes:
          liveness:
            enabled: true
            spec:
              periodSeconds: 30
          readiness:
            enabled: true
            spec:
              periodSeconds: 30
        resources:
          requests:
            cpu: 100m
            memory: 200Mi
          limits:
            memory: 800Mi

  postgres:
    containers:
      postgres:
        image:
          repository: docker.io/postgres
          tag: 17.8
        env:
          POSTGRES_USER: tandoor
          POSTGRES_DB: recipes
          POSTGRES_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: tandoor-secret
                key: TANDOOR_POSTGRES_PASSWORD
        resources:
          requests:
            cpu: 50m
            memory: 128Mi
          limits:
            memory: 512Mi

service:
  app:
    controller: tandoor
    ports:
      tandoor:
        port: 80
  postgres:
    controller: postgres
    ports:
      http:
        port: 5432

route:
  app:
    parentRefs:
      - name: web-internal
        namespace: cilium
        sectionName: https
    hostnames:
      - recipes.devpi.de
    rules:
      - backendRefs:
          - port: 80
            name: tandoor-app
        matches:
          - path:
              type: PathPrefix
              value: /

persistence:
  data:
    existingClaim: tandoor-data-a
    advancedMounts:
      tandoor:
        init-chmod-data:
          - path: /opt/recipes/mediafiles
            subPath: media
          - path: /opt/recipes/staticfiles
            subPath: static
        app:
          - path: /opt/recipes/mediafiles
            subPath: media
          - path: /opt/recipes/staticfiles
            subPath: static
  db:
    existingClaim: tandoor-db-a
    advancedMounts:
      postgres:
        postgres:
          - path: /var/lib/postgresql/data
            subPath: data
