---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

controllers:
  home-assistant:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/home-assistant
          tag: 2026.1.1@sha256:9cd3ab36e0f226915dba281c4867cc6c9d14fd18208234f4a65ddbf8a10bf7e5
        env:
          TZ: Europe/Berlin
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 800M
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
      codeserver:
        image:
          repository: ghcr.io/coder/code-server
          tag: 4.108.1@sha256:867b9a9dedd68f1b46e308cad9525e419db7b0ce0c83831f6a350f37ee7ff6fd
        env:
          TZ: Europe/Berlin
        args:
          [
            "--auth",
            "none",
            "--user-data-dir",
            "/config/.vscode",
            "--extensions-dir",
            "/config/.vscode",
            "--port",
            "12321",
            "/config",
          ]
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 512Mi

defaultPodOptions:
  annotations:
    k8s.v1.cni.cncf.io/networks: |
      [{
        "name": "multus-iot",
        "interface": "eth1",
        "namespace": "multus",
        "ips": ["192.168.1.45/24"]
      }]
  securityContext:
    runAsNonRoot: true
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch

persistence:
  config:
    existingClaim: homeassistant-data-a
  config-logs:
    type: emptyDir
    globalMounts:
      - path: /config/logs
  config-tts:
    type: emptyDir
    globalMounts:
      - path: /config/tts
  tmp:
    type: emptyDir
route:
  app:
    hostnames:
      - hass.devpi.de
    parentRefs:
      - name: web-internal
        namespace: cilium
        sectionName: https
    rules:
      - backendRefs:
          - name: home-assistant
            port: &port 8123
        matches:
          - path:
              type: PathPrefix
              value: /
  codeserver:
    hostnames:
      - hass-code.devpi.de
    parentRefs:
      - name: web-internal
        namespace: cilium
        sectionName: https
    rules:
      - backendRefs:
          - name: home-assistant
            port: &code-port 12321
        matches:
          - path:
              type: PathPrefix
              value: /
service:
  app:
    controller: home-assistant
    ports:
      http:
        port: *port
      codeserver:
        port: *code-port
