---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

controllers:
  vaultwarden:
    containers:
      main:
        image:
          repository: ghcr.io/dani-garcia/vaultwarden
          tag: 1.35.3@sha256:1ca2e2098ba9ab9e46004f4ee61a3be6080ffee3ed41018a95c4b0fb6454a54b
        env:
          SMTP_HOST: sendmail.devpi.de
          SMTP_PORT: 587
          SMTP_SECURITY: "off"
          SMTP_FROM: server@devpi.de
          SIGNUPS_ALLOWED: "true"
        resources:
          limits:
            memory: 128Mi
          requests:
            cpu: 10m

service:
  app:
    controller: vaultwarden
    ports:
      http:
        port: &port 80

persistence:
  data:
    existingClaim: vaultwarden-data-b

route:
  app:
    hostnames:
      - bitwarden.devpi.de
    parentRefs:
      - name: web-internal
        namespace: cilium
        sectionName: https
    rules:
      - backendRefs:
          - name: vaultwarden
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
