controllers:
  tqm:
    type: cronjob
    cronjob:
      schedule: "@hourly"
      timeZone: Europe/Berlin
      concurrencyPolicy: Forbid
      successfulJobsHistory: 3
      failedJobsHistory: 3
    initContainers:
      retag: &container
        image:
          repository: ghcr.io/home-operations/tqm
          tag: 1.18.0@sha256:454864e1f56a86550c54776c3ba5f3439133b4fc4e66ef69ff90a6ee65db6cc5
        args:
          - retag
          - qb
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
    containers:
      clean:
        <<: *container
        args:
          - clean
          - qb
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch
    supplementalGroups: [65537]
persistence:
  config:
    type: emptyDir
    globalMounts:
      - path: /.config/tqm
  config-file:
    type: configMap
    name: tqm-configmap
    globalMounts:
      - path: /.config/tqm/config.yaml
        subPath: config.yaml
        readOnly: true
  media:
    existingClaim: media
    globalMounts:
      - path: /media
        readOnly: true
  extra:
    existingClaim: media-ext
    globalMounts:
      - path: /media-ext
        readOnly: true
