---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

controllers:
  evcc:
    containers:
      main:
        image:
          repository: docker.io/evcc/evcc
          tag: nightly
          pullPolicy: Always
        args: ["-c", "/config/evcc.yaml", "--disable-auth", "-l", "trace"]
        resources:
          limits:
            memory: 96Mi
          requests:
            cpu: 10m

configMaps:
  evcc-config:
    data:
      evcc.yaml: |
        database:
          type: sqlite
          dsn: /data/evcc.db

defaultPodOptions:
  annotations:
    k8s.v1.cni.cncf.io/networks: |
      [{
        "name": "multus-iot",
        "interface": "eth1",
        "namespace": "multus",
        "ips": ["192.168.1.46/24"]
      }]
  securityContext:
    runAsNonRoot: true
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    controller: evcc
    ports:
      http:
        port: &port 7070

persistence:
  data:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    storageClass: longhorn-backup
    globalMounts:
      - path: /data
  config:
    type: configMap
    identifier: evcc-config
    globalMounts:
      - path: /config

route:
  app:
    hostnames:
      - evcc.devpi.de
      #- car.devpi.de
    parentRefs:
      - name: web-internal
        namespace: cilium
        sectionName: https
    rules:
      - backendRefs:
          - name: evcc
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
