---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

controllers:
  netbird:
    containers:
      netbird:
        image:
          repository: ghcr.io/netbirdio/netbird
          tag: 0.61.2@sha256:6c22aac6b14505a76eac551103f8016f510e634a0c42b6872eaec40853cbb4ae
        env:
          NB_HOSTNAME: "netbird-k8s-router" # name that will appear in the management UI
          NB_LOG_LEVEL: "info"
        envFrom:
          - secretRef:
              name: netbird-setup-key-secret
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - SYS_RESOURCE
              - SYS_ADMIN
