---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

controllers:
  netbird:
    containers:
      netbird:
        image:
          repository: ghcr.io/netbirdio/netbird
          tag: 0.64.2@sha256:aaeee44e10965104e46dc3b6f773b758c6d1e8fd25fa20f7d3e285f199f62948
        env:
          NB_HOSTNAME: "netbird-k8s-router" # name that will appear in the management UI
          NB_LOG_LEVEL: "info"
        envFrom:
          - secretRef:
              name: netbird-setup-key-secret
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - SYS_RESOURCE
              - SYS_ADMIN
