---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

controllers:
  netbird:
    containers:
      netbird:
        image:
          repository: ghcr.io/netbirdio/netbird
          tag: 0.60.4@sha256:1ea3a5a090db49239e821a1d618078c2ddf5e6d3ad634231965774419c836ff3
        env:
          NB_HOSTNAME: "netbird-k8s-router" # name that will appear in the management UI
          NB_LOG_LEVEL: "info"
        envFrom:
          - secretRef:
              name: netbird-setup-key-secret
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - SYS_RESOURCE
              - SYS_ADMIN
