---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/refs/heads/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json

controllers:
  netbird:
    containers:
      netbird:
        image:
          repository: ghcr.io/netbirdio/netbird
          tag: 0.62.2@sha256:06d495d681a237fc220cc591e7eadf89bdc6910acda8445a3f6d281e4f9bf8d8
        env:
          NB_HOSTNAME: "netbird-k8s-router" # name that will appear in the management UI
          NB_LOG_LEVEL: "info"
        envFrom:
          - secretRef:
              name: netbird-setup-key-secret
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 64Mi
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
              - SYS_RESOURCE
              - SYS_ADMIN
