---
clusterName: homecluster
# renovate: depName=ghcr.io/siderolabs/installer datasource=docker
talosVersion: v1.12.3
# renovate: depName=ghcr.io/siderolabs/kubelet datasource=docker
kubernetesVersion: v1.35.0
endpoint: https://cluster.lan:6443
additionalApiServerCertSans: &sans
  - cluster.lan
  - &talosControlplaneVip 192.168.1.20
  - 127.0.0.1
additionalMachineCertSans: *sans
allowSchedulingOnControlPlanes: true
clusterPodNets:
  - 10.244.0.0/16
  - fd7f:eaef:3171::/48
clusterSvcNets:
  - 10.245.0.0/16
  - fd7f:eaef:3172::/112
cniConfig:
  name: none
nodes:
  - hostname: minipc
    ipAddress: 192.168.1.22
    controlPlane: true
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/amd-ucode
            - siderolabs/iscsi-tools
            - siderolabs/util-linux-tools
            - siderolabs/amdgpu
            - siderolabs/realtek-firmware
    installDiskSelector:
      wwid: eui.000000000000000100a07524479db782
    networkInterfaces:
      - interface: bond0
        bond:
          mode: active-backup
          deviceSelectors:
            - hardwareAddr: b0:41:6f:14:7c:c5
        dhcp: true
        vip:
          ip: *talosControlplaneVip
        addresses:
          - 192.168.1.22
    volumes:
      - name: EPHEMERAL
        provisioning:
          diskSelector:
            match: disk.transport == "nvme"
          maxSize: 50GiB
          grow: false
    userVolumes:
      - name: extra-nvme
        provisioning:
          diskSelector:
            match: disk.transport == "nvme"
          minSize: 200GiB
          grow: true
        filesystem:
          type: xfs
      - name: extra-sata
        provisioning:
          diskSelector:
            match: disk.transport == "sata"
          minSize: 500GiB
          grow: true
        filesystem:
          type: xfs
      - name: extra-usb
        provisioning:
          diskSelector:
            match: disk.transport == "usb"
          minSize: 500GiB
          grow: true
        filesystem:
          type: xfs

patches:
  - |-
    machine:
      features:
        hostDNS:
          enabled: true
          forwardKubeDNSToHost: false
      sysctls:
        net.ipv6.conf.bond0.accept_ra: '2'
      kubelet:
        nodeIP:
          validSubnets:
            - 192.168.1.0/24
            - fd7f:eaef:3150:10::/60
  - |-
    cluster:
      proxy:
        disabled: true
  - |-
    cluster:
      inlineManifests:
        - name: cilium-namespace-privileged
          contents: |
            ---
            apiVersion: v1
            kind: Namespace
            metadata:
              name: cilium
              labels:
                pod-security.kubernetes.io/enforce: privileged
            ---
