controllers:
  recyclarr:
    type: cronjob
    cronjob:
      schedule: 0 0 * * *
      backoffLimit: 0
      concurrencyPolicy: Forbid
      successfulJobsHistory: 1
      failedJobsHistory: 1
      ttlSecondsAfterFinished: 86400
    containers:
      app:
        image:
          repository: ghcr.io/recyclarr/recyclarr
          tag: 7.5.2@sha256:2550848d43a453f2c6adf3582f2198ac719f76670691d76de0819053103ef2fb
        env:
          - name: RADARR_API_KEY
            valueFrom:
              secretKeyRef:
                name: radarr-secret
                key: RADARR__AUTH__APIKEY
          - name: SONARR_API_KEY
            valueFrom:
              secretKeyRef:
                name: sonarr-secret
                key: SONARR__AUTH__APIKEY
        args: ["sync"]
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 128Mi
    pod:
      restartPolicy: Never
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
persistence:
  config:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    storageClass: longhorn-backup
  config-file:
    type: configMap
    name: recyclarr-configmap
    globalMounts:
      - path: /config/recyclarr.yml
        subPath: recyclarr.yml
        readOnly: true
  tmpfs:
    type: emptyDir
    advancedMounts:
      recyclarr:
        app:
          - path: /config/logs
            subPath: logs
          - path: /config/repositories
            subPath: repositories
          - path: /tmp
            subPath: tmp
