controllers:
  lidarr:
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/lidarr
          tag: 3.1.2.4902@sha256:dab0e07502a34436fc50c3e789388f0a29f8cbf681fb7a02ed703ad7c368a22c
        env:
          LIDARR__APP__INSTANCENAME: Lidarr
          LIDARR__APP__THEME: dark
          LIDARR__AUTH__METHOD: External
          LIDARR__AUTH__REQUIRED: DisabledForLocalAddresses
          LIDARR__LOG__DBENABLED: "False"
          LIDARR__LOG__LEVEL: info
          LIDARR__SERVER__PORT: &port 80
          LIDARR__UPDATE__BRANCH: develop
          TZ: Europe/Berlin
        envFrom:
          - secretRef:
              name: lidarr-secret
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: *port
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
          readiness: *probes
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 1Gi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
service:
  app:
    controller: lidarr
    ports:
      http:
        port: *port
route:
  app:
    hostnames: ["lidarr.devpi.de"]
    parentRefs:
      - name: web-internal
        namespace: cilium
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
persistence:
  config:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    storageClass: longhorn-backup
  config-cache:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /config/MediaCover
  media:
    existingClaim: media
    globalMounts:
      - path: /media
  tmp:
    type: emptyDir
