controllers:
  seerr:
    containers:
      app:
        image:
          repository: ghcr.io/seerr-team/seerr
          tag: develop@sha256:9e49ccf51b8c5e84e9ced4f6b1ccc17be4cd38426afbb0090312b8cd60ebabbb
        env:
          LOG_LEVEL: "info"
          PORT: &port 80
          TZ: Europe/Berlin
        envFrom:
          - secretRef:
              name: jellyseerr-secret
        probes:
          liveness:
            enabled: true
            spec:
              periodSeconds: 30
              timeoutSeconds: 5
              failureThreshold: 5
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /api/v1/status
                port: *port
              periodSeconds: 10
              timeoutSeconds: 5
              failureThreshold: 5
          startup:
            enabled: true
            spec:
              failureThreshold: 30
              periodSeconds: 10
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 10m
          limits:
            memory: 512Mi
defaultPodOptions:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
    runAsGroup: 1000
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch
service:
  app:
    controller: seerr
    ports:
      http:
        port: *port
route:
  app:
    hostnames: ["seerr.devpi.de"]
    parentRefs:
      - name: web-internal
        namespace: cilium
        sectionName: https
    rules:
      - backendRefs:
          - identifier: app
            port: *port
        matches:
          - path:
              type: PathPrefix
              value: /
persistence:
  config:
    type: persistentVolumeClaim
    accessMode: ReadWriteOnce
    size: 5Gi
    storageClass: longhorn-backup
    globalMounts:
      - path: /app/config
  tmpfs:
    type: emptyDir
